In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('ShanghaiPOI2017-clean.csv', index_col=0)

In [12]:
df.head()

    ID        GPSX       GPSY    GBCODE
0  1.0  121.296368  31.188324  990000.0
1  1.0  121.473360  31.228923  990000.0
2  1.0  121.399378  31.205028  990000.0
3  1.0  121.529628  31.271063  990000.0
4  2.0  121.169185  31.282332  990000.0

In [14]:
sub_df = df[df['GBCODE'] == 150401]

In [19]:
len(sub_df)

196

In [22]:
sub_df.head()

             ID        GPSX       GPSY    GBCODE
1005481  1646.0  121.607451  31.214867  150401.0
1005482  1646.0  121.495161  31.236947  150401.0
1005483  1646.0  121.467337  31.345557  150401.0
1005484  1646.0  121.615061  31.157110  150401.0
1005485  1646.0  121.409944  31.212765  150401.0

In [26]:
sub_df['Longitude'] = sub_df['GPSX']

/Users/rami/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
sub_df['Latitude'] = sub_df['GPSY']

/Users/rami/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
sub_df.head()

             ID        GPSX       GPSY    GBCODE   Longitude   Latitude
1005481  1646.0  121.607451  31.214867  150401.0  121.607451  31.214867
1005482  1646.0  121.495161  31.236947  150401.0  121.495161  31.236947
1005483  1646.0  121.467337  31.345557  150401.0  121.467337  31.345557
1005484  1646.0  121.615061  31.157110  150401.0  121.615061  31.157110
1005485  1646.0  121.409944  31.212765  150401.0  121.409944  31.212765

In [29]:
del sub_df['GPSX']

In [30]:
del sub_df['GPSY']

In [31]:
sub_df.head()

             ID    GBCODE   Longitude   Latitude
1005481  1646.0  150401.0  121.607451  31.214867
1005482  1646.0  150401.0  121.495161  31.236947
1005483  1646.0  150401.0  121.467337  31.345557
1005484  1646.0  150401.0  121.615061  31.157110
1005485  1646.0  150401.0  121.409944  31.212765

In [32]:
sub_df.to_csv('Shanghai-Museum2017.csv')